@tailwind base;
@tailwind components;
@tailwind utilities;

.flexCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 일반 텍스트*/
.text-size {
  @apply text-sm sm:text-base md:text-lg lg:text-xl;
}

/* 음원명 텍스트*/
.musicText-size {
  @apply text-[2rem] sm:text-[2.5rem];
}

/* 타이틀 폰트 */
.title-size {
  @apply text-[6rem] sm:text-[8rem];
}

@media (max-width: 435px) {
  .title-size {
    font-size: 5rem;
  }
}

@media (max-width: 370px) {
  .title-size {
    font-size: 3.5rem;
  }

  .musicText-size {
    font-size: 1.5rem;
  }

  .text-size {
    font-size: 0.5rem;
  }

  .imgSize {
    width: 2rem;
    height: 2rem;
  }
}

body {
  background-color: #f1f5f9;
}
